@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  transition: 0.15s all;
}

body {
  background-color: #0D1116;
  color: #C9D1D9;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #C9D1D9;
  text-decoration: none;
}

main {
  background-color: coral;
  padding: 2rem;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  main {
    min-height: calc(100vh);
    min-width: calc(100vw);
  }
}

/* Web or other */
@media only screen and (min-width: 601px) {
  main {
    min-height: 100vh;
    min-width: calc(100vw - 16rem);
  }
}
